<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bibliotech test</title>
    <style>
        body {
                background: #272727;
                width: 300px;
                height: 300px;
                border: 1px solid white;
                padding: 10px;
                position: relative;
                color: white;
                margin: 200px auto;
                font-family: monospace;
                border-radius: 10px;
        }
        h1{
                text-align: center;
                background: black;
                padding: 10px;
                width: 300px;
                position: relative;
                left: -10px;
                margin-bottom: 0;
        }

        span{
                float: left;
                line-height: 18px;
                margin-left: 4px;
                font-size: 20px;
        }
        input{
                float: right;
                margin-right: 16px;
                margin-left: 8px;
        }
        .loginBtn{
            position: absolute;
            bottom: 10px;
            background: green;
            padding: 10px !important;
            font-size: 20px;
            left: 215px;
            cursor: pointer;
            color: white;
            border-radius: 10px;
        }
        .loginBtn:hover{
            background: darkgreen;
        }

        .createBtn{
            position: absolute;
            bottom: 10px;
            background: green;
            padding: 10px !important;
            font-size: 20px;
            left: 14px;
            cursor: pointer;
            color: white;
            border-radius: 10px;
        }
        .createBtn:hover{
            background: darkgreen;
        }

        .loginContainer div{
                margin-bottom: 20px;
                padding-top: 24px;
        }
        h2{
            display:none;
            position: absolute;
            top: -9px;
            color: red;
            text-align: center;
            font-size: 17px;
        }
    </style>
</head>

<body>
    {{#if this.auth}}
    <p>user: {{this.user.name}}</p>
    <p>institution: {{this.inst.Name}}</p>
    <p>books:</p>
    <ul class="books">
    </ul>
    <script>
        fetch("/users/books", {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(data => {
            data.text().then(rsp => {
                JSON.parse(rsp).Books.forEach(function (element) {
                    document.querySelectorAll(".books")[0].innerHTML += `<li>${element.Title} - by ${element.Author} </li>`;
                });
            });
        });
    </script>
    {{else}}
    <div class="loginContainer">
        <h1>Login</h1>
        <h2>Username or password incorrect !</h2>
        <div>
            <span>Name:</span>
            <input type="text" class="name">
        </div>
        <div>
            <span>Email:</span>
            <input type="text" class="email">
        </div>
        <div>
            <span>Password:</span>
            <input type="password" class="password">
        </div>
        <div class="loginBtn">
            Login
        </div>
        <div class="createBtn">
            Create User
        </div>
    </div>
    <script>
        document.querySelectorAll(".loginBtn")[0].addEventListener("click", () => {
            fetch("/users/signin ", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({ email: document.querySelectorAll(".email")[0].value, password: document.querySelectorAll(".password")[0].value }),
            }).then(data => {
                data.text().then(rsp => {
                    if (rsp == "Unauthorized") {
                        document.querySelectorAll("h2")[0].innerText = "username / password incorrect !";
                        document.querySelectorAll("h2")[0].style.display = "block"
                    }
                    else {
                        window.location = "/";
                    }

                });
            }).catch(err => {
                document.querySelectorAll("h2")[0].innerText = "username / password incorrect !";
                document.querySelectorAll("h2")[0].style.display = "block"
            })
        });

        document.querySelectorAll(".createBtn")[0].addEventListener("click", () => {
            fetch("/users/create", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({ email: document.querySelectorAll(".email")[0].value, password: document.querySelectorAll(".password")[0].value, name: document.querySelectorAll(".name")[0].value }),
            }).then(data => {
                data.text().then(rsp => {
                    document.querySelectorAll("h2")[0].innerText = "domain not found !";
                    rsp == "false" ? document.querySelectorAll("h2")[0].style.display = "block" : window.location = "/";
                });
            })
        });
    </script>
    {{/if}}

</body>

</html>